crewai==0.105.0
crewai[tools]
langchain_openai
langchain_community
python-dotenv
matplotlib
networkx
mdutils
beautifulsoup4
scholarly
pandas
streamlit==1.43.1
streamlit-mermaid==0.3.0
pysqlite3-binary
databricks-sdk==0.46.0